*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

body{
    background: rgb(252,238,0);
    background: linear-gradient(60deg, rgba(252,238,0,1) 0%, rgba(184,0,242,1) 49%, rgba(0,212,255,1) 100%);
}

nav{
    text-align: center;
    width: 100%;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin-left: 25px;
    padding: 20px 100px;
    position: relative;
}

nav ul li a{
    width: 100%;
    text-decoration: none;
    color: honeydew;
    font-weight: bold;
}

nav ul li a::before{
    display: block;
    content: '';
    width: 0%;
    background: lightblue;
    height: 5px;
    position: absolute;
    transition: 0.2s;
}

nav ul li a:hover::before{
    width: 100%;
}

.form-register{
    width: 400px;
    background-color: black;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 5px;
    color:white;
    box-shadow: 7px 13px 37px black;
}

.form-register h4{
    font-size: 30px;
    margin-bottom: 20px;
}

.controls{
    width: 100%;
    background-color:white;
    padding: 10px; 
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid;
    font-size: 18px;
}

.form-register p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form-register a{
    color: white;
    text-decoration: none;
}

.form-register a:hover{
    color: white;
    text-decoration: underline;
}

.form-register .botons{
    width: 100%;
    background-color: teal;
    padding: 12px;
    color: white;
    margin: 50px 0;
    font-size: 20px;
}